<header id="page-top" class="header">
    <h1>Aigerim Tashmatova</h1>
    <h3>Hello! I am graphic designer based in Brussels, Belgium. I specialise in print design, brand identity, web-design and illustration. I always ready to work with interesting projects.</h3>
    <br>
    <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
    <a href="https://www.instagram.com/craftywithkids/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
    <a href="#"><i class="fa fa-google plus fa-fw fa-3x"></i></a>
</header>
