<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="{% url 'posts:index' %}">Aitush Creations</a>
        </div>
        <form class="navbar-form navbar-right" method='GET' action='' value="{{ request.GET.q }}">
  <div class="form-group" style="font-family:'Open Sans',sans-serif">
      <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
      <input type='submit' value='Search' />
  </div>


</form>
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li style="color:black">
                    <a class="page-scroll" href="{% url 'posts:index' %}" style="color:black">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Top</a>
                </li>
                {% if request.user.is_staff %}
                <li >
                    <a style="color:black" class="page-scroll" href="{% url 'posts:create' %}">Creat New</a>
                </li>
                {% endif %}
            </ul>
        </div>
          <!-- /.navbar-collapse -->
    </div>
  <!-- /.container-fluid -->
</nav>
